.backdrop {
    height: 100% !important;
    width: 100% !important;
    position: fixed !important;
    bottom: 0px;
    z-index: -1;
}
.landingPage    {
    background: #eeeeee;
    height: 400px;
    width: 400px;
    border-radius: 5px;
    margin: 200px 0px 0px 200px;
}
.btn-secondary  {
    margin: 15px;
}
